{{!-- will eventually have other elements, like name and pic of chatter, status,
    and also the buttons for next --}}


<div id="videos">
    <video id="localVideo" autoplay muted></video>
    <video id="remoteVideo" autoplay></video>
</div>